.app-container {
  display: flex;
  flex-direction: row; /* Align the sidebar and content horizontally */
  height: 100vh; /* Full height of the viewport */
}

app-sidebar {
  width: 250px; /* Sidebar width */
  height: 100vh; /* Ensure sidebar takes full height */
}

.content {
  flex-grow: 1; /* Content takes remaining space */
  overflow: auto; /* In case content overflows */
}
