<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<div class="login-container">
  <h1 class="app-title">El Inventory</h1> <!-- New Title -->
  <div class="login-card">
    <!-- Error Messages -->
    <div class="alert alert-error mb-3 text-center" role="alert" *ngIf="errorMsg.length">
      <p *ngFor="let msg of errorMsg" class="p-error">{{ msg }}</p>
    </div>

    <form class="auth-form">
      <div class="input-group">
        <label for="username">Username</label>
        <div class="input-with-icon">
          <i class="pi pi-user"></i>
          <input [(ngModel)]="authReq.username"
                 type="text" id="username" name="username"
                 placeholder="Enter your Username" required />
        </div>
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <div class="input-with-icon">
          <i class="pi pi-lock"></i>
          <input [(ngModel)]="authReq.password"
                 type="password" id="password" name="password"
                 placeholder="Enter your password" required />
        </div>
      </div>

      <button type="submit" (click)="login()">Login</button>


    </form>


  </div>
</div>
