<div class="sidebar"  *ngIf="isLoggedIn">

  <div class="navbar-brand">
    <a [routerLink]="['/']">
      <i class="pi "></i>
      <img ngSrc="assets/supply.png" width="20" height="20" alt="Supply Image" />
    </a>

  </div>
  <div class="sidebar-content">
    <div class="menu-section">
      <h3 class="menu-header">Main</h3>
      <ul class="menu-items">
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="pi pi-home"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/product" routerLinkActive="active">
            <i class="pi pi-box"></i>
            <span>Products</span>
          </a>
        </li>
        <li>
          <a routerLink="/supplier" routerLinkActive="active">
            <i class="pi pi-truck"></i>
            <span>Suppliers</span>
          </a>
        </li>
        <li>
          <a routerLink="/customers" routerLinkActive="active">
            <i class="pi pi-users"></i>
            <span>Customers</span>
          </a>
        </li>
        <li>
          <a routerLink="/purchase" routerLinkActive="active">
            <i class="pi pi-truck"></i>
            <span>Purchase</span>
          </a>
        </li>
        <li>
          <a routerLink="/sales" routerLinkActive="active">
            <i class="pi pi-shopping-cart"></i>
            <span>Sales</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-section"[class.hidden]="!isAdmin" >
      <h3 class="menu-header">Administration</h3>
      <ul class="menu-items" >
        <li>
          <a routerLink="/usermanagement" routerLinkActive="active">
            <i class="pi pi-user-edit"></i>
            <span>User Management</span>
          </a>
        </li>


      </ul>
    </div>
    <div class="menu-section logout-section">
      <ul>
        <li>
          <button class="logout-button" (click)="logout()">
            <i class="pi pi-sign-out"></i>
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

